#myframe { width: 100%; height: 620px; padding: 0; overflow: hidden; }
#scaled-frame { width: 100%; height: 600px; border: 0px; }
#scaled-frame {
zoom: 0.71;
-moz-transform: scale(0.71);
-moz-transform-origin: 0 0;
-o-transform: scale(0.71);
-o-transform-origin: 0 0;
-webkit-transform: scale(0.71);
-webkit-transform-origin: 0 0;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
#scaled-frame  { zoom: 1;  }
}
 
/*<div id="wrapper"><iframe id="scaled-frame" src="http://your-url.com/"></iframe></div>*/
